/* Custom color scheme for mechanical work website */

/* Primary color */
:root {
    --primary-color: #001f3f; /* Navy Blue */
    --secondary-color: #6c757d; /* Slate Gray */
    --accent-color: #ffd700; /* Gold */
  }
  
  
  
  /* Navbar background color */
  .navbar-dark {
    background-color: var(--primary-color) !important;
  }
  
  /* Navbar text color */
  .navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 1.25rem;
  }
  
  /* Navbar link hover color */
  .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--accent-color) !important;
  }
  
  /* Button primary color */
  .btn-primary {
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  /* Button primary text color */
  .btn-primary {
    background-color: var(--secondary-color);
    color: #ffffff !important;
    font-size: 1rem;
  }
  
  /* Button primary hover color */
  .btn-primary:hover {
    background-color: var(--primary-color) !important; /* Lighter shade of gold */
    color: var(--secondary-color);
    border-color: 1px solid var(--accent-color) !important;
  }
  
  /* Add your custom classes and styles below */
  
  /* This class for Caraousel image */
  .responsive {
    width: 100%;
    height: auto;
  }

  .Mytext-primary{
    color:#ffd700 !important;
  }